@use 'source/config';
@use 'source/header';
@use 'source/sections';
@use 'source/cores';

body {
    background-color: cores.$cor-de-fundo-body;
}

li {
    list-style: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: config.$tablet) {
    .container {
        max-width: 80%;

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
    }

    
}

@media screen and (max-width: config.$mobile) {
    .products {
        display: block;

    .product-item  {
        margin-bottom: 32px;
    }
    }

    
}

